__pycache__
*.pyc
.venv
.env
.git
.idea
db_test
*.th
*.ipynb
*.pth
*.pt
*.ckpt
*.pkl
*.zip
*.mp3
*.wav
*.mp4
*.flac
*.ogg
*.m4a
*.png
*.jpg
!README
*.pdf
*.docx
*.md
*.txt
!requirements.txt
!Dockerfile
!docker-compose.yml
!main.py
!api.py
!model.py
!metrics.py
!README.md
**/checkpoints/
**/*.th
**/torch_cache/
